*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--Stone100);
}

:root {
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

.main{
    min-height: 100vh;
    justify-items: center;
}

@media (max-width: 600px) {
    .main{
        justify-items: center;

    }
    
}

.main-content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 660px;
    background-color: var(--White);
    border-radius: 10px;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .main-content{
        margin-left: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        background-color: var(--White);
        border-radius: 10px;
        padding-bottom: 40px;
    }
    
}


.oml{
    width: 570px;
    border-radius: 10px;
    margin-top: 30px;
}

@media (max-width: 600px) {
    .oml{
        margin: 30px;
        width: 350px;
    }
    
}

h1{
    margin-top: 25px;
    font-size: 25px;
    font-weight: 300;
    width: 570px;
    font-family: "Young Serif", sans-serif;
    color: var(--Stone900);
}

@media (max-width: 600px) {
    h1{
        margin-top: 25px;
        font-size: 20px;
        width: 350px;
    }
    
}

.para-1{
    width: 570px;
    margin-top: 25px;
    font-size: 16px;
    font-family: "Outfit", sans-serif;
    color: var(--Stone900);
    font-weight: 300;
    
}

@media (max-width: 600px) {
    .para-1{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

.prep{
    
    margin-top: 25px;
    width: 570px;
    font-family: "Outfit", sans-serif;
    background-color: var(--Rose50);
    border-radius: 10px;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .prep{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

h3{
    color: var(--Rose800);
    padding-left: 15px;
    padding-top: 20px;
}

@media (max-width: 600px) {
    h3{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
        padding-top: 0px;
    }
    
}
.prep-time{
    
    width: 490px;
    padding-left: 50px;
    padding-top: 15px;
    color: var(--Stone900);
}

@media (max-width: 600px) {
    .prep-time{
        font-size: 16px;
        width: 350px;
    }
    
}



.prep-time li{
    padding-left: 15px;
    line-height: 30px;
    font-weight: 300;
    color: var(--Stone900);
}

@media (max-width: 600px) {
    .prep-time li{
        font-size: 16px;
        width: 350px;
    }
    
}

.ing{
    width: 570px;
    margin-top: 25px;
    font-family: "Outfit", sans-serif;
}

@media (max-width: 600px) {
    .ing{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

h2{
    font-family: "Young Serif", sans-serif;
    color: var(--Brown800);
}

@media (max-width: 600px) {
    h2{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

.ing-list{
    padding-top: 15px;
    padding-left: 25px;
    color: var(--Stone900);
}

@media (max-width: 600px) {
    .ing-list{
        font-size: 16px;
        width: 350px;
    }
    
}

.ing-list li{
    padding-left: 15px;
    line-height: 30px;
    font-weight: 300;
}

@media (max-width: 600px) {
    .ing-list li{
        font-size: 16px;
        width: 350px;
    }
    
}

.divider{
    border: 1px solid var(--Stone150);
    width: 570px;
    margin-top: 25px;
}

@media (max-width: 600px) {
    .divider{
        width: 350px;
    }
    
}

.inst{
    margin-top: 25px;
    width: 570px;
    font-family: "Outfit", sans-serif;
}

@media (max-width: 600px) {
    .inst{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

.inst-list{
    padding-top: 15px;
    padding-left: 25px;
    color: var(--Stone900);
}

@media (max-width: 600px) {
    .inst-list{
        font-size: 16px;
        width: 350px;
    }
    
}

.inst-list li{
    padding-left: 15px;
    font-weight: 300;
    margin-bottom: 10px;
}

/* @media (max-width: 600px) {
    .inst-list li{
        font-size: 16px;
        width: 350px;
    }
    
} */

li::marker{
    color: brown;
    font-weight: 600;
}

.nut{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    width: 570px;
    font-family: "Outfit", sans-serif;
}

@media (max-width: 600px) {
    .nut{
        margin-top: 25px;
        font-size: 16px;
        width: 350px;
    }
    
}

.nut-det{
    margin-top: 25px;
    font-weight: 300;
    color: var(--Stone900);
}

table{
    border-collapse: collapse;
    margin-top: 25px;
    font-family: "Outfit", sans-serif;
}

.border{
    border-top: 1px solid var(--Stone150);
    border-bottom: 1px solid var(--Stone150);
}

td{
    padding-left: 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 300;
    color: var(--Stone900);
}

.value{
    color: brown;
    font-weight: 600;
}

